<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hoobnn.fanfan.smcd</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/libexec/fanfan-smcd</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/fanfan-smcd.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/fanfan-smcd.err</string>
</dict>
</plist>
